alias dy="dig +short @dns.toys"
alias imix="iex -S mix"
alias vim=nvim
# alias vim="NVIM_APPNAME=nvchad nvim"
alias nvchad="NVIM_APPNAME=nvchad nvim"
alias nvim-kickstart='NVIM_APPNAME=nvim-kickstart nvim'
#alias fk=fuck
alias notes='vim .notes/$(git rev-parse --abbrev-ref HEAD).md'
alias jqflat=$'jq -r --stream \'select(length == 2)| [(.[0] | join(".")), ( .[1] | tojson)] | join(": ")\''
